<div class="row" lang="en" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <div class="col">
    <div class="card mt-3">
      <div class="card-header" style="background-color: #0b7e3e; color: white; font-weight: bold;" th:text="#{nav.lang}">
        Dashtable
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="/admin-panel/roles" class="text-dark text-decoration-none" aria-current="true"th:text="#{sidebar.roles}">
            Roles
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>