<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/main.html">
<div layout:fragment="content">
    <h4  th:text="#{label.my.basket}">My Basket</h4>
    <div class="row row-cols-1 row-cols-md-3 mt-3">
        <div class="col mb-4" th:each="item : ${items}">
            <div class="card h-100" style=" min-height: 440px; max-width: 440px;">
                <img th:src="@{'/view-cardpicture/' +${item.smallPicURL}}" class="my-3 w-100">

                <div class="card-body">
                    <h6 class="card-title"><a th:href="@{'/item/' + ${item.id}}" style="font-weight: bold; text-decoration: none;" th:text="${item.name}">Iphone 12 PRO MAX</a></h6>
                    <h6 style="font-weight: bold;" th:text="${'$'+item.price}">$ 1200</h6>
                    <p class="card-text" th:text="${item.description}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="mx-3 card-bottom">
                    <ul class="list-inline mt-3">
                        <li class="list-inline-item"><h7  th:text="#{label.brand}">BRAND:</h7></li>
                        <li class="list-inline-item"><h7><a th:href="@{'/brands/' + ${item.brand.name}}" th:text="${item.brand.name+','}">Apple,</a></h7></li>
                        <li class="list-inline-item"><h7 th:text="${item.brand.country.code}">USA</h7></li>
                    </ul>
                    <div class="d-grid my-3">
                        <button class="btn btn-danger" onclick="removeFromBasket(this.getAttribute('data-item-id'))"
                                th:data-item-id="${item.id}" th:text="#{buttons.remove}">Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex my-3">
        <div class="" th:if="${items != null}">
            <!-- Button trigger modal -->
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" th:text="#{buttons.check.in}">Check in</button>
            <button class="btn btn-danger" onclick="clearBasket()" th:text="#{buttons.clear.basket}">Clear Basket</button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="row row-cols-6 m-0">
                                <i class="fab fa-cc-visa fa-3x"></i>
                                <i class="fab fa-cc-paypal fa-3x"></i>
                                <i class="fab fa-cc-mastercard fa-3x"></i>
                                <i class="fab fa-cc-apple-pay fa-3x"></i>
                                <i class="fab fa-cc-amex fa-3x"></i>
                                <i class="fab fa-cc-amazon-pay fa-3x"></i>
                            </div>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form th:action="@{'/buy'}" method="post">
                            <div class="modal-body">
                                <div class="mt-3">
                                    <label th:text="#{label.full.name}">Full Name</label>
                                    <input class="form-control" type="text" name="full_name">
                                </div>
                                <div class="mt-3">
                                    <label  th:text="#{label.card.number}">Card Number</label>
                                    <input  class="form-control" type="number" name="card_number">
                                </div>
                                <div class="row">
                                    <div class="col-6 mt-3">
                                        <label  th:text="#{label.expiration.date}">Expiration</label>
                                        <input  class="form-control" type="text" name="expiration_date">
                                    </div>
                                    <div class="col-6 mt-3">
                                        <label th:text="#{label.cvv}">CVV</label>
                                        <input  class="form-control" type="text" name="cvv">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button class="btn btn-success" th:text="#{label.buy}">Buy</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>