<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/user.html">
<div layout:fragment="content">
    <div class="col-8 offset-1">
        <div class="mb-3">
            <h4 class="text-center" th:text="#{label.password}">Password</h4>
        </div>
        <form th:action="@{'/user/change-password'}" method="post">
            <div class="mb-3">
                <label th:text="#{label.old.password}">Old Password</label>
                <input type="password" class="form-control" name="old_password" required >
            </div>
            <div class="mb-3">
                <label th:text="#{label.new.password}">Password</label>
                <input type="password" class="form-control" name="password" required>
            </div>
            <div class="mb-3">
                <label th:text="#{label.repassword}">Retype password</label>
                <input type="password" class="form-control" name="re_password" required>
            </div>
            <div class="mb-3">
                <button class="btn btn-success" th:text="#{buttons.change}">Change Password</button>
            </div>
        </form>
    </div>
</div>
</html>